footer.footer
  .click-to-top
    a(href="#header") 
      svg.arrow-top
        use(xlink:href='../images/icons/arrow_left.svg#Page-1')
  .container.footer__container
    .footer__info 
      .footer__desc While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. 
      span Test TRK © 2017
    .footer__links 
      .footer__title Terms & Conditions
      a.footer__link#privacyPolicy(href="#") Privacy Policy
        .footer__popup.popup.no-visible
          .popup__header 
            .popup__titile Data Policy
            .popup__close 
          .popop__body
            p What information do we collect?
            p We may gather and process the following information about you when you use the Hogarth LMS:
            ol 
              li Name
              li Email address
              li Company name
              li Activity log (actions performed in the LMS)
              li LMS module access and completion data
            p How do we use it? We will use your personal information in the following ways. We are also required by law to state a “legal basis for processing”, i.e. to tell you on what grounds we are allowed to use your information, and this is also set out below:
            ol 
              li We will use your personal information to provide secure access to the LMS. Our legal basis for processing: performance as specified under contract agreement – we use your personal information to help us to deliver the best possible learning experience
              li We will use your personal information to track progress. Our legal basis for processing: performance as specified under contract agreement – we maintain a record of your progress through training modules to optimise the learning experience 
              li We will use your personal information to track progress. Our legal basis for processing: performance as specified under contract agreement – we maintain a record of your progress through training modules to optimise the learning experience 
      a.footer__link(href="#") Terms of Payment
      a.footer__link(href="#") Terms of Service
    .footer__contacts 
      .footer__title Contact Support
      a.footer__link(href="mailto:jermey.kling@yahoo.com") jermey.kling@yahoo.com
      .footer__btn(href="#") Leave feedback 
    .footer__follow.follow
      .follow__title.footer__title Follow
      ul.follow__list 
        li.follow__item 
          a.follow__links(href="#")  
            svg.follow__icon
              use(xlink:href='../images/icons/fb.svg#Page-1')
        li.follow__item 
          a.follow__links(href="#")  
            svg.follow__icon
              use(xlink:href='../images/icons/gooplePlus.svg#Page-1')
        li.follow__item 
          a.follow__links(href="#")  
            svg.follow__icon
              use(xlink:href='../images/icons/twitter.svg#Page-1')