extends ./_layout/_main

block title 
  title Main page

block content 
  section.slider 
    .slider__list 
      .slider__item
        img(src='../images/pictures/banner/main-banner-3-min.jpg')
      .slider__item 
        img(src='../images/pictures/banner/main-banner-2-min.jpg')
      .slider__item 
        img(src='../images/pictures/banner/main-banner-1-min.jpg')
  section.main__content 
    .container-text
      h1.main__title I Left The “Grand Old Party”
      h2.main__subtitle for Producers
      .main__text
        p Last night, the unimaginable happened. Donald Trump became the presumptive Republican nominee with his win in Indiana. His remaining rivals for the nomination, Ted Cruz and John Kasich, have bowed out of the race, and the RNC is now treating him as the winner. Which means it’s time for me to be a man and stick with my promise from back in August and March. It’s time for this Republican to leave the party.
        p I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
          ul  
            li 	The Republican Party I joined promoted fiscal responsibility, strong foreign policy aoad, and individual  		liberty. The party that I’ve seen of late is one that is none of that.
            li 	The Republican Party fought against slavery under Lincoln and fought the KKK under Grant. Now, it 		nominates a man who hesitates when confronted with support from the KKK and has manually re-tweeted 		racist and anti-Semitic accounts.
        p I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
          ol 
            li 	The Republican Party fought against slavery under Lincoln and fought the KKK under Grant. Now, it 		nominates a man who hesitates when confronted with support from the KKK and has manually re-tweeted 		racist and anti-Semitic accounts.
            li 	The Republican Party fought for the women’s vote during the 1920 Presidential election. Now, it nominates a 		man who refers to them in obscene matters and cheats on them regularly.
        p I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
          p
            a(href="https://www.hotnewhiphop.com/download-24hrs-new-dj-drama-hosted-mixtape-12-am-in-atlanta-new-mixtape.117497.html") https://www.hotnewhiphop.com/download-24hrs-new-dj-drama-hosted-mixtape-12-am-in-atlanta-new-mixtape.117497.html
        p explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
      h2.main__subtitle for Producers
      h4.subtitle__small No fees from beat sale
      .main__text
        p I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
      h4.subtitle__small No fees from beat sale
      .main__text
        p I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
      table.table
        thead 
          tr 
            th Column 1
            th Column 2
            th Column 3
            th Column 4
        tbody   
          tr 
            td Something
            td Something
            td Something
            td Something
          tr 
            td Something
            td Something
            td Something
            td
              div Something
              div Something
              div Something
          tr 
            td Something
            td Something
            td Something
            td Something
  section.listing
    .listing__header 
      .listing__title 
        span.listing__title-name Listing 
        span.listin__title-value (32 043)
    .listing__body
      ul.listing__list 
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/1.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/2.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/3.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/4.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/5.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/6.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/7.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/8.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/9.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/1.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/2.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/3.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
      ul.listing__list 
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/1.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/2.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/3.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/4.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/5.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/6.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/7.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/8.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/9.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/1.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/2.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
        li.listing__item 
          .listing__pic
            img(src='../images/pictures/listing/3.jpg').listing__img
            .listing__time 0:17
          .listing__title-card Game of Thrones, S03E01
          .listing__subtitle-card by Norman Jefferson
          .listing__text-card end up
  section.setting   
    .gradient 
      h3.gradient__title.setting__title Gradient
      .gradient__elem.gradient__elem--first
      .gradient__elem.gradient__elem--second
    .range
      h3.range__title.setting__title range input 
      .range__info 
        .range__subtitle Title
        //- input(type='range').range__input
        .container-range 
          input#range(type="range",value="35")
          label#value(for="range")
    .tabs    
      h3.tabs__title.setting__title Tabs
      ul.tabs__name-list-name 
        li(data-tab-name="tab-1").tabs__name-item.is-active Active Tab
        li(data-tab-name="tab-2").tabs__name-item Other Tab
        li(data-tab-name="tab-3").tabs__name-item Active Tab 2
      .tabs__content
        ul.tabs__list.is-active.tab.tab-1   
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-1.png')
            .tabs__title-item Mixed Conditionals
            .tabs__desc by Birdie Torres
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-2.png')
            .tabs__title-item Possibility and Certainty
            .tabs__desc by Birdie Torres
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-3.png')
            .tabs__title-item Possibility and Certainty
            .tabs__desc by Birdie Torres
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-4.png')
            .tabs__title-item Possibility and Certainty
            .tabs__desc by Birdie Torres
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-5.png')
            .tabs__title-item Questions with Auxiliary Verbs
            .tabs__desc by Aiden Leonard
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-2.png')
            .tabs__title-item Suggestions and Advice, Criticism and Regret
            .tabs__desc by Aiden Leonard
        ul.tabs__list.tab.tab-2   
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-4.png')
            .tabs__title-item Lorem Ispum
            .tabs__desc by Birdie Torres
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-1.png')
            .tabs__title-item Possibility and Certainty
            .tabs__desc by Birdie Torres
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-5.png')
            .tabs__title-item Lorem Ispum
            .tabs__desc by Birdie Torres
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-3.png')
            .tabs__title-item Possibility and Certainty
            .tabs__desc Lorem Ispum
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-2.png')
            .tabs__title-item Questions with Auxiliary Verbs
            .tabs__desc by Aiden Leonard
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-3.png')
            .tabs__title-item Suggestions and Advice, Criticism and Regret
            .tabs__desc by Aiden Leonard
        ul.tabs__list.tab.tab-3   
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-3.png')
            .tabs__title-item Lorem Ispum
            .tabs__desc by Birdie Torres
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-5.png')
            .tabs__title-item Possibility and Certainty
            .tabs__desc Lorem Ispum
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-1.png')
            .tabs__title-item Possibility and Certainty
            .tabs__desc by Birdie Torres
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-2.png')
            .tabs__title-item Lorem Ispum
            .tabs__desc by Birdie Torres
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-3.png')
            .tabs__title-item Questions with Auxiliary Verbs
            .tabs__desc by Aiden Leonard
          li.tabs__item
            .tabs__pic
              img(src='../images/pictures/Tabs/tabs-pic-1.png')
            .tabs__title-item Suggestions and Advice, Criticism and Regret
            .tabs__desc by Aiden Leonard
    .elements   
      h3.elements__title.setting__title Elements 
      .elements__controllers
        button.elements__button.elements__button--active Button
        button.elements__button Button
        button#btnOn.elements__button.elements__button--tab.elements__button--left On
        button#btnOff.elements__button.elements__button--active.elements__button--tab.elements__button--right Off 
        


        .elements__select.select
          .select__header
            span.select__current Choose Something
            .select__icon
              img(src='../images/pictures/arrow__down.png')
          .select__body
            .select__item Something1
            .select__item Something2
            .select__item Something3
            .select__item Something4
            .select__item Something5
            .select__item Something6
        
        
        
        
        //- select.elements__select Choose Something
        //-   option#custom-select-placeholder Choose Something
        //-   option Something
        //-   option Something
        //-   option Something
        //-   option Something
        //-   option Something
        //-   option Something
        .elements__tooltip 
          .tooltip-name Tooltip
          input(type="color",value="#8392a6").tooltip-square
  section.feedback 
    form.form(action="#")
      .form__info Your email address will not be published. Required fields are marked
        snan.span-red *
      .form__rating 
        .form__subtitle Your rating
        .form__rating-stars 
          .star-rating 
            .star-rating__wrap
              input(type="radio",name="rating",value="5").star-rating__input#star-rating-5
              label(for="star-rating-5",title="5 out of 5 stars").star-rating__ico.fa.fa-star-o.fa-lg
              input(type="radio",name="rating",value="4").star-rating__input#star-rating-4
              label(for="star-rating-4",title="4 out of 5 stars").star-rating__ico.fa.fa-star-o.fa-lg
              input(type="radio",name="rating",value="3").star-rating__input#star-rating-3
              label(for="star-rating-3",title="3 out of 5 stars").star-rating__ico.fa.fa-star-o.fa-lg
              input(type="radio",name="rating",value="2").star-rating__input#star-rating-2
              label(for="star-rating-2",title="2 out of 5 stars").star-rating__ico.fa.fa-star-o.fa-lg
              input(type="radio",name="rating",value="1").star-rating__input#star-rating-1
              label(for="star-rating-1",title="1 out of 5 stars").star-rating__ico.fa.fa-star-o.fa-lg
      .form__review 
        .form__subtitle Your review 
          snan.span-red *
        textarea.form__textarea(name="comment", placeholder="Your comment", Required) 
      .form__inputs-col 
        .form__inpust-row
          .form__subtitle Name 
            span.span-red *
          input.form__input-name(type="text", name="user name", placeholder="Your name", Required) 
        .form__inpust-row
          .form__subtitle Email 
            span.span-red *
          input.form__input-name(type="email", name="user email" placeholder="Your email address", Required) 
      .form__inputs-col 
        label.form__check
          input(type="checkbox", name="Notify user by email.", checked).form__checkbox
          .check__visible
          .form__checkbox-info Notify me of new posts by email. 
      .form__btn
        button.form__submit#send-form(type='submit') Submit
    .widget
      .widget__first 
        img(src='../images/pictures/Placeholder-first-widget.png')
      .widget__second
        img(src='../images/pictures/Placeholder-second-widget.png') 
