@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

// @font-face 
//     font-family: 'Sourse Sans Pro'
//     src: url("../fonts/SourceSansPro-Bold.woff") format("woff")
//     font-weight: 400

// @font-face 
//     font-family: 'Sourse Sans Pro'
//     src: url("../fonts/SourceSansPro-SemiBold.woff") format("woff")
//     font-weight: 600

// @font-face
//     font-family: 'Sourse Sans Pro'
//     src: url("../fonts/SourceSansPro-Bold.woff") format("woff")
//     font-weight: 700
//     font-style: bold