@import "../layout/variables.styl"

.main__slider
    position: relative;
    margin-bottom: 45px;

.arrow-slider
    position: absolute;
    top: 39%;
    width: 42px;
    height: 85px;
    cursor: pointer;

.arrow-right
    right: 0;
    transform: rotate(180deg);