@import "../layout/variables.styl"

.range__info 
  display: flex;

.range__subtitle
  margin-right: 10vw;
  font-size: 18px;
  color: $grey;

.range__input 
  flex: 1;

.container-range {
    width: 100%;
}