@import "../layout/variables.styl"

.tabs__name-list-name
    margin-bottom: 20px;

.tabs__name-item 
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
  cursor: pointer
  font-weight: 800;
  font-size: 18px;

.tabs__name-item:hover
  color: #00B5bb;


.tabs__name-item:last-child
  margin-right: 0;

.tabs__name-item--active
  color: $blue;

.tabs__list 
  display: flex;

.tabs__item:not(:last-child)
  margin-right: 2%;

.tabs__title-item
  color: $grey;
  font-size: 14px;

.tabs__desc
  font-weight: 400;
  font-size: 14px;
  
